 <div class="picnic">
   <div class="picnic_img">
     <%= image_tag "picnic.jpg" %>
   </div>

<div class="container">
 
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
       <h1>About ThePicnic.nyc</h1>
       <hr class="h_rule">
       <p>
           While the weather is good in New York City, I like to get friends 
           together as often as possible for casual picnics. Everyone is invited!
           Hopefully, if you have questions, you'll find the answers here on this
           site. 
       </p>
       <p>
           It's nothing complicated though! If you want to come, you should come!
           Bring a little something to share and all the friends you can wrangle.
           At a picnic, there is always room for more.
       </p>
       <p>
           Hope to see you soon!
       </p>

      </div>
    </div>
  </div>




  
  
