/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


/* 
Media Query Reporter Styles
*/

// body:after {
//     font-size: 300%;
//     font-weight: bold;
//     position: fixed;
//     bottom: 60px;
//     background-color: hsla(1, 60%, 40%, 0.7);
//     width: 100%;
//     text-align: center;
//     color: white;
//     content: "less than 320px";
// }


// @media only screen and ( min-width: 320px) {
//     body:after {
//         content: "320 to 480px";
//         background-color: hsla(90, 60%, 40%, 0.7);
//     }
// }

// @media only screen and ( min-width: 480px) {
//     body:after {
//         content: "480 to 768 px";
//         background-color: hsla(180, 60%, 40%, 0.7);
//     }
// }

// @media only screen and ( min-width: 768px) {
//     body:after {
//         content: "768 to 1024";
//         background-color: hsla(270, 60%, 40%, 0.7);
//     }
// }

// @media only screen and ( min-width: 1024px) {
//     body:after {
//         content: "1024 and Up";
//         background-color: hsla(360, 60%, 40%, 0.7);
//     }
// }


body {

}

p {
    font-family: 'Arvo', serif;    
    font-size: 20px;
    line-height: 1.2em;

}

.alert, .notice {
    
}

/* home page */

.stretchimage { 
    width: 100%; 
    overflow: hidden;
    padding-bottom: 40px;
}


.header_img {
    width:100%;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

.next_picnic {
    text-align: center;
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.about_description {
  text-align: center;
  line-height: 2.2em;
  font-size: 1.5em;
}

.picnic_description {
 background: white;
 border-radius: 50px;
 position: relative;
 bottom: 40px;
 width: 100%;
 padding: 40px;
}

.h_rule {
  border: 1px solid #7BBD30;
  width: 60%;
}

.subheader {
    margin-right: auto;
    margin-left: auto;
}

.three_cols {
    padding-top: 40px;
    padding-bottom: 10px;
}

.three_cols {
    h3{
        text-align: center;
    }
    img {
        padding-top: 10px;
        padding-bottom: 15px;
        width: 100%;
        height: 100%;
    }
    a {
        color: #7BBD30;
    }
    a:hover {
        text-decoration: none;
        background: none;
        color: #ed342a;
    }
}


.perfect-red-button {
  font-family: 'Josefin Sans', sans-serif !important;
  -webkit-text-stroke: 0px transparent !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  letter-spacing: .35em !important;
  color: #686868 !important;
  font-weight: 600 !important;
  font-size: 1.35em !important;
  padding-top: 8px !important;
  border-radius: 0 !important;
  transition: color 0.25s cubic-bezier(0.23, 0.4, 0.62, 0.92), -webkit-text-stroke-color 0.25s cubic-bezier(0.23, 0.4, 0.62, 0.92) !important;
  background-color: #ed342a !important;
  color: white !important;
  border: 1px solid #ed342a !important;
  -webkit-text-stroke: 1px white !important;
  -webkit-transition-duration: 0.3s !important;
  transition-duration: 0.3s !important;
  -webkit-transition-property: color, background-color !important;
  transition-property: color, background-color !important;
  margin-bottom: 25px;
}


/* navbar */

.masthead h1 {
    text-align: center;
    font-size: 4em;
    color: #7bbd30;
    text-shadow: 4px 4px #F0F0F0;
    padding-bottom: 30px;
}


.navbar-default {
  background-color: #FFF;
  border: none;
  ul { 
      display: block; 
      text-align:center; 
      li {
          display: inline-block;
          a {
              border: 1px dotted gray;
              font-weight: 400;
              text-transform: uppercase;
              letter-spacing: .75em;
              font-size: 1.5em;
              color: #603813;
              border: 2px solid transparent;
              transition: color 0.3s cubic-bezier(0.23, 0.4, 0.62, 0.92), -webkit-text-stroke 0.3s cubic-bezier(0.23, 0.4, 0.62, 0.92);
          }
          a :hover {
            border: 1px dotted gray;
            text-decoration: none;
            background: none;
          }
      }
  }
}


	
.row {
  margin-left: 0px;
  margin-right: 0px;
}

.navbar {
    margin-top: 0px;
    border-radius: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, strong, a, a:visited, small {
    font-family: 'Fjalla One';
    // color: white;
}


/* footer */

footer {
    width: 100%;
    background-color: #F0F0F0;
    border-top: 1px solid #7bbd30;
    padding-bottom: 5em;
    padding-top: 5em;
}

.first-col-footer, .second-col-footer {
    padding-bottom: 40px;
}

.first-col-footer-title {
    padding-bottom: 10px;
}

footer a:hover {
  color: #7bbd30;
  text-decoration: none;
  background: none;
}

footer h4 {
    font-size: 1.4em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}



.footer-link {
    color: #7bbd30;
    font-size: 1em;
    text-decoration: none;
    padding-bottom: 10px;

}

footer h4 a {
  color: #603813;
}

footer ul {
  list-style: none;
  margin-top: 1em;
  padding-left: 0;
  
}

footer ul li {
    display: inline-block;
}

.social_icon {
    size: 40px;
}

footer {
    .pitch {
        font-size: 1.3em;
        margin-bottom: 40px;
    }
    .photo-link {
        color: #ed342a;
        text-decoration: none;
        font-size: .9em;
    }
}


/* Subscribe form */



.subscribe-field {
  height: 2.8em;
  width: 15em;
  padding: 5px;
  border-color: #7bbd30;
  border-width: 1px;
  margin-bottom: 1em;
  font-family: Arvo;
  font-size: 1.2em;
}

.subscribe-button {
    color: white;
    font-family: 'Josefin Sans', sans-serif !important;
    padding: 10px 8px 10px 8px;
    font-weight: 600px;
    font-size: 1.35em;
    background-color: #ed342a;
    border: none;
    text-transform: uppercase;
}

.subscription-form {
    padding-bottom: 40px;
}

/* devise */

.devise {
    padding-bottom: 40px;        
}

.form-field {
  height: 2.8em;
  width: 15em;
  padding: 5px;
  border-color: #7bbd30;
  border-width: 1px;
  margin-bottom: 1em;
  font-family: Arvo;
  font-size: 1.2em;
}


/* Picinic Page */

.picnic {
    img {
        width: 100%;
    }
    h1 {
        padding: 20px 0px 0px 0px;
        font-weight: 600;
        font-size: 2em;
        text-align: center;
    }
    .date {
        padding-bottom: 30px;
    }
    .description {
        padding-bottom: 30px;
    }
    .host {
        padding-bottom: 30px;
    }
    .rsvp {
        padding-bottom: 30px;
    }
}